* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    --white: #fff;
    --primary: rgba(97, 76, 136, 1);
    --primary-dark: rgba(39, 26, 64, 1);
}

/* ### HEADER ### */

.header{
    background-color: var(--white);
}

/* ### Navbar ### */

.nav {
    display: flex;
    justify-content: space-between;
}

.nav img{
    width: 4em;
    margin: 1em;
    height: 4em;
}

.nav button{
    border: none;
    margin: 1em;
    background-color: var(--white)
}

/* ------------- */

/* ### Hero ### */

.hero{
    height: 100vh;
    background: linear-gradient(180deg,rgba(255, 255, 255, 1) 0%,rgba(39, 26, 64, 1) 100%);
    display: flex;
}

.text-container {
    margin-top: 8vh;
    margin-left: 12.5vw;
}

.text-container h1{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200;
    font-size: 4em;
}

.text-container h1 b{
    font-weight: 800;
    color: var(--primary-dark);
}

.text-container h6{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 100;
    font-size: 1.3em;
}
.image-container{
    width: 100%;
    overflow: hidden; 
}
.image-container img{
    height: 100vh;
    width: auto;
    transform: rotate(-27deg) translatey(6.5em);
    object-fit: cover;
}

.button-container{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.button-container button:nth-child(1) {
    border: 0;
    padding: 1em 2em;
    background-color: var(--primary-dark);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 6  00;
    font-size: 1em;
    color: var(--white);
}

.button-container button:nth-child(1) img{
    height: 1.4em;
    width: 1.4em;
}

.button-container button:nth-child(2) {
    border: 2px solid var(--primary-dark);
    padding: 1em 2em;
    background-color: transparent;
    color: var(--primary-dark);
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 6  00;
    font-size: 1em;
}
/* ------------- */

/* ### Media queries ### */

@media only screen and (max-width: 600px) {
    /* ### Nav ### */
    /* Decreased Image Size */
    .nav img{
        width: 2.5em;
        margin: 0.5em;
        height: 2.5em;
        padding: 0.2em 0.2em;
    }

    /* Hero */
    /* Decreased Text and Image Size */
    .hero{
        height: auto;
    }
    .text-container {
    margin-top: 2vh;
    margin-left: 5vw;
    }
    .text-container h1{
        font-size: 3.5em;
        object-fit: cover;
    }
    .text-container h6{
        font-size: 1.1em;
        font-weight: 200
    }
    .image-container{
        width: 100%;
        overflow: hidden;
    }
    .image-container img{
        height: 100vh;
        width: auto;
        transform: rotate(-27deg) translatey(6.5em) translatex(-5.5em);
        object-fit: cover;
    }

    .button-container button:nth-child(1) {
        padding: 1em 1em;
        font-size: 1em;
    }
    .button-container button:nth-child(1) img{
        height: 1em;
        width: 1em;
    }
    .button-container button:nth-child(2) {
        padding: 1em 1em;
        font-size: 0.8em;
        width: 80%;
    }

}